<h1>All Users</h1>
<table align="center">

<%@users.each do |all_user|%>

  
  <tr>
 <td><%=image_tag(all_user.avtar.url(:thumb))%>
<%=link_to all_user.firstname+" "+all_user.lastname,mutual_profile_path(all_user.id)%><br/>
  <%=button_to "add as friend",add_friends_path(:friend_id => all_user.id), :remote => true%></td>
  <br/><br/>
 </tr>
<%end%>
 
  </table>