<table>

<th1>All Friends</th1>
<tr>
  <td>
<%@friends.each do |friend|%>
<%=render :partial=>"friends/all_friends",:locals=>{:friend=>friend}%><br/>
 <%@cnt=@friends.count%>
<%end%>
</td>
</tr>
<th2>(<%=@cnt%>)</th2><br/><br/>
 </table>
